// Place all the styles related to the training controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "parts";
@import "mixin";

// トレーニング一覧
.index{
  width: 1100px;
  margin: 70px auto 70px;

  @include media(1100px){
    width: 900px;
  }
  @include media(900px){
    width: 768px;
  }
  @include media(768px){
    width: 700px;
  }
  @include media(414px){
    width: 375px;
  }
  @include media(375px){
    width: 350px;
  }
}

.training-contents_header{
  margin: 0 0 70px;
}

.heading{
  color: rgba($color: $gray, $alpha: 0.7);
  font-size: 35px;
  font-weight: normal;
}

.training-contents_heading_content{
  font-size: 45px;
  color: #000;
  margin: 0;
}

.training-contents_text_content{
  font-size: 13px;
}

.training-contents_btn{
  text-align: center;
  margin: 50px 0 0;
}

.new-btn{
  background-color: $whiteblue;
  color: $white;
  display: inline-block;
  width: 200px;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 1px;
  box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: 0.3);
}

table{
  width: 100%;
  border-spacing: 0 10px;
}


td{
  text-align: center;
  border-bottom: solid 1px rgba($color: #000000, $alpha: 0.3);
}

.state{
  color: $white;
  width: 120px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: 0.3);
}

.complete{
  background-color: $whiteblue; 
}
.incomplete{
  background-color: $delete_red;
}

.training-btn{
  font-size: 30px;
}

.complete-btn{
  color: $whiteblue;
}
.edit-btn{
  color: $blue;
}
.delete-btn{
  color: $delete_red;
}


// トレーニング新規登録
.form_class{
  display: flex;
  flex-direction: column;
}

label{
  padding: 10px 0;
}

#tasks{
  height: 50px;
}
#content{
  height: 100px;
}
#tasks{
  height: 50px;
}

#limit{
  height: 50px;
}



.submit{
  width: 100px;
  height: 30px;
  margin: 50px 0 0;
  background-color: $whiteblue;
  color: $white;
  border-radius: 5px;
  border: none;
}